@model List<StellerPortfolio.Models.TblSkills>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yetenekler Sayfası</h2>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Başlık</th>
        <th>Açıklama</th>
        <th>Yetenek Adı</th>
        <th>Yetenek Yüzdesi</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.SkillID</td>
            <td>@item.Title</td>
            <td>@item.Description</td>
            <td>@item.SkillName</td>
            <td>@item.Value</td>
            <td>
                <a href="/Skill/DeleteSkill/@item.SkillID" class="btn btn-danger">Sil</a>
                <a href="/Skill/UpdateSkill/@item.SkillID" class="btn btn-info">Güncelle</a>
            </td>
        </tr>
    }

</table>
</br>
<a href="/Skill/AddSkill" class="btn btn-success">Add</a>
