@model List<StellerPortfolio.Models.TblFeatures>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<h2>Öne Çıkan Sayfası</h2>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Ad</th>
        <th>Soyad</th>
        <th>Meslek</th>
        <th>Başlık</th>
        <th>Cv</th>
        <th>Resim</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.FeatureID</td>
            <td>@item.FirstName</td>
            <td>@item.LastName</td>
            <td>@item.Job</td>
            <td>@item.Title</td>
            <td>@item.CvDownloadUrl</td>
            <td><img src="@item.ImageUrl" style="height=50px; width=50px;"></td>

            <td>
                <a href="/Feature/DeleteFeature/@item.FeatureID" class="btn btn-danger">Sil</a>
            </td>
            <td>
                <a href="/Feature/UpdateFeature/@item.FeatureID" class="btn btn-info">Güncelle</a>
            </td>
        </tr>
    }

</table>
<br />

<a href="/Feature/AddFeature/" class="btn btn-success">Ekle</a>
